/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
  > p {
    margin-bottom: 0;
  }
}

/**
 * Headings
 */
 h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight * 2;

  a {
    color: $text-color;
  
    &:visited {
      color: darken($text-color, 15%);
    }
  }
}

/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: darken($brand-color, 15%);
  }

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}

/**
 * Blockquotes
 */
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  @include relative-font-size(1.125);
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

/**
 * Code formatting
 */

pre,
code {
  @include relative-font-size(1);
}

code {
  padding: 1px 5px;
  background-color: rgb(245, 245, 245);
}

.listingblock {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;
  background-color: rgb(240, 240, 245);
  border: 1px solid rgb(200, 200, 220);
  border-radius: 3px;

  > code {
    background-color: unset;
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  vertical-align: middle;

  path {
    fill: $grey-color;
  }
}

.social-media-list {
  .icon {
    padding-right: 5px;
  }

  li + li {
    padding-top: 5px;
  }
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}

.imageblock {
  margin: 0 20px;
}
.right {
  float: right;
}
.left {
  float: left;
}
.clear:after {
  clear: both;
}
.imageblock.center {
  margin: 20px 0;
  
  div {
    margin: 0 auto;
    max-width: 100%;
    text-align: center;
  }
  img {
    margin: 0 auto;
    max-width: 80%;
    display: block;
  }
}


// Tables
table.tableblock {
  background: #fff;
  max-width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin-bottom: 1em;
}
table tr th, table tr td {
  padding: .2em .2em;
}
table.tableblock, th.tableblock, td.tableblock {
  border: 0 solid #dedede;
      border-top-width: 0px;
      border-right-width: 0px;
      border-bottom-width: 0px;
      border-left-width: 0px;
}
table.frame-all {
  border-width: 1px;
}
table.grid-all td.tableblock {
  border-width: 0 1px 1px 0;
}
table.grid-all * > tr > .tableblock:last-child, 
table.grid-cols * > tr > .tableblock:last-child {
  border-right-width: 0;
}
table.grid-all tbody > tr:last-child > th.tableblock, 
table.grid-all tbody > tr:last-child > td.tableblock, 
table.grid-all thead:last-child > tr > th.tableblock, 
table.grid-rows tbody > tr:last-child > th.tableblock, 
table.grid-rows tbody > tr:last-child > td.tableblock, 
table.grid-rows thead:last-child > tr > th.tableblock {
  border-bottom-width: 0;
}

p.tableblock {
  margin-bottom: 0;
}

th.halign-left, td.halign-left {
  text-align: left;
}
th.halign-right, td.halign-right {
  text-align: right;
}
th.halign-center, td.halign-center {
  text-align: center;
}
th.valign-top, td.valign-top {
  vertical-align: top;
}


// Custom admonition
.admonitionblock {
  margin: 20px 0;
}
.admonitionblock.tldr td.icon [class^="fa icon-"] {
  font-size: 1.5em;
}
.admonitionblock.tldr td.icon .icon-note::before {
  content: "tl;dr";
  color: #19407c;
}
.admonitionblock.center {
  table {
    margin: 0 auto;
    max-width: 100%;
  }
}


.big {
  blockquote {
    font-size: 24px;
  }
}

