svg {
  display: block;
  margin: 20px auto;
}

div.step1 {
  .step1-hide {
    visibility: hidden !important;
    display: none;
  }
}
div.step2 {
  .step2-hide {
    visibility: hidden !important;
    display: none;
  }
}
div.step3 {
  .step3-hide {
    visibility: hidden !important;
    display: none;
  }
}
